---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Sara Boutaam" description="About Sara Boutaam">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="Découvrir mon parcours et mes compétences.">
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Le développement web m'interpelle depuis longtemps. Mais, très
            impliquée dans mon premier métier, celui d'ingénieur mécanique je
            n'avais jamais eu l'occasion de m'y consacrer aussi pleinement que
            je l'aurais souhaité.
          </p>
          <p>
            Le numérique est un domaine qui m'était déjà familier car je l'ai
            découvert durant mes études en ingénierie et il me plaisait
            énormément. J'ai été naturellement attiré par le frontend et les
            langages de haut niveau, ainsi que par l'intégration de design et
            l'importance de l'expérience utilisateur.
          </p>
          <p>
            Je bénéficie également d'une solide expérience professionnelle :
            grâce, entre autres, aux stages que j'ai effectué pendant mon cursus
            d'ingénieure mécanique. Je sais comment communiquer de façon
            assertive ,comment travailler en équipe de manière respectueuse et
            efficace, comment écouter les clients et comprendre véritablement
            leurs besoins.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>- Diplôme niveau 5 - Développeur Web</p>
          <p>
            - Master Mécanique des structures composites : Aéronautique et
            éco-conception
          </p>
          <p>- Licence sciences de l'ingénieur, parcours mécanique</p>
          <p>- Dut conception mécanique et productique</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Autonomie, Créativité, Curiosité, Méthodique, Dynamique, Esprit
            d’équipe
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
